.catergories-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  margin: 5rem 0;
}

.section-content {
  display: flex;
  gap: 5rem;
}

.section-content-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
  img {
    position: relative;
    width: 27.2rem;
    height: 27.2rem;
    border-radius: 50%;
    transition: all 0.5s ease;
    &:hover {
      transform: translateY(-2rem) translateX(1rem);
    }
  }
  p {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.4rem;
  }

  &::before {
    position: absolute;
    content: "";
    width: 27.2rem;
    height: 27.2rem;
    border-radius: 50%;
    background-color: $color-grey-3;
  }

  button {
    position: absolute;
    height: inherit;
    top: 60%;
  }
}

.categories-bullets {
  display: flex;
  align-items: center;
  gap: 2rem;
  span {
    width: 0.8rem;
    height: 0.8rem;
    border: 1px solid $color-primary !important;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease;
  }
}

.active-category {
  background-color: $color-primary;
}
