.hero-section {
  position: relative;
  background-color: $color-hero;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
    width: 30%;

    p {
      font-family: "Lato", serif;
      font-size: 1.6rem;
      line-height: 2rem;
    }

    h1 {
      font-weight: 700;
      font-size: 5.2rem;
      line-height: 6.4rem;
    }

    & > p:nth-child(1) {
      color: $color-primary;
      font-weight: 700;
    }

    & > p:nth-child(3) {
      color: $color-grey-3;
      font-weight: 400;
    }
  }

  &__right {
    position: relative;
    span {
      position: absolute;
      width: 64.8rem;
      height: 64.8rem;
      background-color: rgba($color-grey-3, 0.9);
      border-radius: 50%;
    }

    span:nth-child(1) {
      bottom: 7%;
      left: -3%;
      z-index: 1;
    }
    span:nth-child(2) {
      background-color: rgba($color-grey-2, 0.8);
      top: 6%;
      left: 5%;
      z-index: 2;
    }
    img {
      position: relative;
      padding: 4.5rem 0;
      z-index: 4;
    }
  }
}

.hero-lamp-img {
  position: absolute;
  top: 0;
  left: 0;
}

.off-circle {
  z-index: 5;
  position: absolute;
  top: 12%;
  right: -4%;
  background-color: $color-info;
  color: white;
  width: 20%;
  height: 15%;
  rotate: 30deg;
  border-radius: 3rem 4.5rem 6rem 4.5rem;

  p {
    font-size: 3.6rem;
    line-height: 4.4rem;
    text-align: center;
    rotate: -30deg;

    padding: 1rem;
  }
}
